[% INCLUDE 'doc-head-open.inc' %]
 <title>Koha: AspaTukiChat Plugin</title>
[% INCLUDE 'doc-head-close.inc' %]
</head>
<body>
[% INCLUDE 'header.inc' %]
[% INCLUDE 'cat-search.inc' %]

<div id="doc3">
    <h2>T&auml;m&auml; toiminto ei viel&auml; ole k&auml;yt&ouml;ss&auml;.</h2>

[% INCLUDE 'intranet-bottom.inc' %]